@import url("https://fonts.googleapis.com/css?family=Comfortaa");

$body-font: Comfortaa, cursive;
$dark: #111;
$light: #f2f9ff;
$pink: #f1457f;
$green: #9fce40;
$blue: #3a5caa;

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

body {
    font-family: $body-font;
    font-weight: bold;
    font-size: 14pt;
    background-color: $dark;
    color: $light;
    margin: 0;
}

h1 {
    margin: 30px 0 9px 0;
}

h2 {
    margin: 0 0 9px 0;
}

.button {
    display: inline-block;
    text-align: center;
    border: 2px solid $light;
    @include border-radius(8px);
    width: auto;
    padding: 6px;
    justify-content: center;

    margin: 10px;

    a {
        color: $light;
    }
}

#header {
    height: 100px;
    padding: .2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4em;

    #header-left {
        font-size: 1.6em;
        padding-left: 35px;
        margin-right: 20px;
    }

    #header-right {
        margin-right: 35px;

        a {
            margin: 3px 3px 3px;
            text-decoration: none;
        }

        #link-projects {
            color: $pink;
        }

        #link-skills {
            color: $green;
        }

        #link-contact {
            color: $blue;
        }
    }
}

.section {
    margin: 0 35px 20px 35px;
    display: flex;
    flex-direction: column;

    .section-header::after {
        margin-left: 12px;
        content: "";
        float: left;
        width: 70px;
        height: 3px;
        border-radius: 3px;
    }

    #projects::after {
        background-color: $pink;
    }

    #skills::after {
        background-color: $green;
    }

    #contact::after {
        background-color: $blue;
    }
}

.content {
    margin-top: 30px;
}

.cards {
    display: flex;
    padding: 0 10px 0 10px;

    .card {
        width: 220px;
        height: 300px;
        padding: 30px;
        border-radius: 20px;

        .button-row {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            margin-top: 15px;
        }
    }
}

#quiri {
    background-color: #a95292;
}

#quiri-img {
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
}
